.my-flex-container {
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
}

.my-flex-block {
    width: 150px;
    height: 150px;
    background-color: red;
    text-align: center;
    color: white;
}